# Dependencies
node_modules
.pnpm-store

# Production build output
dist
dist-ssr
*.local

# Instructions and private user files
instructions/
instructions

# Environment variables
.env
.env.local
.env.*.local

# Editor & OS files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
